@model BookStore.ViewModels.BookAuthorViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>BookAuthorViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="All" class="text-danger"></div>
               
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
      
            <div class="form-group">
                <label asp-for="AuthorId" class="control-label"></label>
                <Select asp-for="AuthorId" class="form-control" asp-items="@(new SelectList(Model.Authors,"Id","FullName"))" ></Select>
                <span asp-validation-for="AuthorId" class="text-danger"></span>
                <input type="hidden" asp-for="Authors" class="form-control" />

            </div>

            <br />
           @*create a picture*@
            <div class="form-group">
                <input type="file" asp-for="clientFile" onchange="document.getElementById('ProfilePicture').src=window.URL.createObjectURL(this.files[0])" />
           
                <label asp-for="ProfilePicture" class="w-100"></label>
                @if (Model.ProfilePicture != null)
                {
                    <img id="ProfilePicture" alt="Profile" class="ProfilePicture" src="data:image/*;base64,@(Convert.ToBase64String(Model.ProfilePicture))" />
                }
                else
                {
                    <img id="ProfilePicture" alt="Profile" src="~/Image/unknown.png" />
                }
              

            </div>
            <br /><br />
          <input type="submit" value="Create" class="btn btn-primary" />
          <a class="btn btn-secondary" asp-action="Index">Back to List </a>
        </form>
    </div>
</div>


   


@section Scripts {
    <partial name="_valid"/>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
